.ci-message-image {
  display: flex;
  justify-content: center;

  &:not(:first-child) {
    margin-top: 5px;
  }
  &:not(:last-child) {
    margin-bottom: 5px;
  }

  & img {
    cursor: pointer;

    &:hover {
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .3);
    }
  }
}
